<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        const ROOM_ID = "<%= roomId %>";
    </script>
    <script src="js/script.js" defer></script>
</head>
<body>
    <div id="video-Container"></div>     
</body>
</html>